<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>3287543ca2d6f916e2ec45e6e040f6e55ae30e18</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>In order to scan bar and qr codes need your access</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please give us location to find nearest outlet </string>
	<key>UIAppFonts</key>
	<array>
		<string>robaga-rounded.regular.otf</string>
		<string>Robaga Rounded Bold.otf</string>
		<string>YanoneKaffeesatz-Bold.ttf</string>
		<string>YanoneKaffeesatz-Regular.ttf</string>
		<string>YanoneKaffeesatz-Light.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
